.nav-bar {
	position:fixed;
	display:inline-block;
	background-image:linear-gradient(steelblue, lightgray);
	opacity: .85;
	z-index:10;
	margin-left:350px;
	margin-right:350px;
	width: 550px;
	max-width:960px;

}
.nav-bar ul {
	text-align:center;
	display:block;
	padding:1px;
	margin:auto;
	height:30px;
}
.nav-bar li {
	display:inline-block;
	position:relative;
}
.nav-bar a {
	text-decoration:none;
	text-align:center;
	margin:20px;
	padding:5px;
	color: #f9bd2f;
}
.title {
	color: #494949;
	font-size: 75px;
	text-align:center;
	display:inline-block;
	opacity: .75;
	padding-left:45px;
	padding-right:45px;
	font-family:Georgia;
}
.title h1 {
	margin-bottom:1px;
}
.paragraph {
	margin-left:10%;
	margin-right:10%;
	padding-bottom:5%;
	color:white;
	font-size:20px;
	clear:right;
	max-width:960px;
}
aside {
	position:inline-block;
	float:right;
}
.gallery {
	display:inline-block;
	text-align:center;
	max-width:1237px;
	width:1200px;
	padding-left:20px;
	padding-right:20px;
}
.gallery img{
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

